:root {
    --grey: #dfdfe2;
    --white: #ffffff;
    --light-purple: #ad96b5;
    --middle-purple: #aa8ab5;
    --dark-purple: #463b4f;
    --red: #861D1D;

  }
body{
    background-color: var(--light-purple);
    color: var(--white);
    font-family: 'amarante';
    font-weight: 100;
}
.displayText{
    display: flex;
    justify-content: center;
}
#text{
    color: var(--white);
    padding: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    font-family: 'amarante';
    font-weight: 100;
}
#game{
    max-height: 90%;
    color: var(--white);
    margin: 30px auto 0 auto;
    padding: 10px;
}
#stats{
    width: 50%;
    border-radius: 40px;
    border: 1px solid var(--white);
    margin: 0 0 5% 25%;
    background-color: var(--red);
}
#controls{
    margin: 15% 0 10% 0;
}
#controls, #stats{
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

#monsterStats{
    display: none;
    border-radius: 40px;
    border: 1px solid var(--white);
    margin: 0 0 5% 25%;
    padding: 5px;
    justify-content: center;
    background-color: var(--dark-purple);
    width: 50%;
    
}
.stat{
    padding-right: 10px;
}
#button4{
    display: none;
}
button{
    color: var(--white);
    background-color: var(--middle-purple);
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    font-family: 'amarante';
    font-weight: 100;
}